*{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* body */
body{
    color: darkblue;
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
}


header {
    padding: 20px 35px;
    background-color: #39a6b2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image:;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
  
  }


header nav {
    float:right;
    margin: 7px 0;
}
nav {
    display: block;
}
header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}
header h1 {
    display: inline;
}


/* hero */
.hero {
    background-color: #39a6b2;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-attachment: fixed;
    background-position: 80%;
}
.hero-cta {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: #fff;
    font-size: 18px;
    line-height: 1.3;
    text-shadow: rgba(0,0,0,0.5);
  }

  .hero-cta h2 {
    font-style: italic;
    font-size: 55px;
    color: #1d13a5;
  }
  .work {
      background-size: 50% 0.em;
  }
  









ul {
    display: block;
    list-style-type: disc;
    margin-block-start:lem;
}

/* footer */

@media Screen and (max-width: 980px) {
    header h1 a {
      color: tomato;
    }
  }
  
  @media screen  and (max-width: 762px){
    header h1 {
      font-size: 80px;
    }
  }
  
  @media screen and (max-width:575px ){
    header h1 {
      font-size: 100px;
    }
  }